config.json
node_modules/
./Audio/userEntry.json
./Audio/UserEntry.json
/Audio/UserEntry.json
playerData.json
./Save Files/playerData.json
./Save Files/playerWoodcuttingData.json
/Save Files/playerData.json
/Save Files/playerWoodcuttingData.json
